src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8082" doc:name="HTTP Request Configuration"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/hsa_AccountInquiry:api-config">
        <set-payload value="{&quot;Status&quot;: &quot;Success&quot;,  &quot;CIF&quot;: &quot;0000718085&quot;, &quot;CC account #&quot;: &quot;435996-6047&quot;, &quot;ElanACCT -&quot;:      &quot;hsa_accountInquiry&quot; }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/cc_AccountInquiry:api-config">
        <set-payload value="{&quot;Status&quot;: &quot;Success&quot;,  &quot;CIF&quot;: &quot;0000718085&quot;, &quot;CC account #&quot;: &quot;435996-6047&quot;, &quot;ElanACCT -&quot;:      &quot;2004865878946284&quot; }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/hsa_SingleSignOn:api-config">
        <set-payload value="{&quot;Status&quot;: &quot;Success&quot;,  &quot;CIF&quot;: &quot;0000718085&quot;, &quot;CC account #&quot;: &quot;435996-6047&quot;, &quot;ElanACCT -&quot;:      &quot;hsa_Singlesignon &quot; }" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <flow-ref name="ErrorFlow" doc:name="ErrorFlow"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>

        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <flow-ref name="ErrorFlow" doc:name="ErrorFlow"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>

        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <flow-ref name="ErrorFlow" doc:name="ErrorFlow"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>

        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <flow-ref name="ErrorFlow" doc:name="ErrorFlow"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>

        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <flow-ref name="ErrorFlow" doc:name="ErrorFlow"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>

        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <flow name="ErrorFlow">
        <set-variable variableName="errorMessage" value="#[groovy:message.getExceptionPayload().getRootException().getMessage()]" doc:name="Variable" metadata:id="cca66124-4911-4a26-a9a9-85c35bf073cf"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="errorDescription" value="#[flowVars.errorMessage]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
